.App {
  text-align: center;
  margin: 0 auto;
  width: 550px;
  box-sizing: border-box;
}

.header {
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
  padding: 4.5px 29px;
  justify-content: space-between;
}

.header-logo > h1 {
  margin-left: 6.69px;
  color: #FFF;
  font-family: Karla;
  font-size: 20.748px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}

.header > h2 {
  margin: 0;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-logo {
  display: flex;
  align-items: center;
}